
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

.title {
  text-decoration-line: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  font-family: Goldman;
  display: flex;
  justify-content: space-between;
  background-color: #461c40;
  color: white;
  padding: 15px;
  font-size: 1em;
  width: 100vw;
  align-items: center;

}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.go-back {
  color: white;
}
.vid {
  display: none;
}
img.image {
  box-shadow:  white 2px 2px 15px;
  max-width: 300px;
  max-height: 460px;
}

.submit, .input {
  font-family: Goldman;
  color: black;
  position: center;
}


@media only screen and (min-width: 426px) {

  body {
    background-image: url('https://res.cloudinary.com/acurunner79/image/upload/c_scale,h_2100,w_1024/v1611174151/QgTND_iwk0cp.jpg');
    background-position: center;
    background-repeat: repeat-y;
    text-align: center;
    width: 100vw;
  }


  .hero-card, .about, .search, .home {
    color: white;
    text-shadow: 2px 2px 5px white;
    font-family: Goldman;
    text-align: center;
    
  }

  h1, h2, h3 {
    padding: 0px 120px 0px 120px;
  }

  div.vid {
    display: inline-flex;
    
    max-width: 300px;
    max-height: 460px;
  }

  .hero-card {
    /* border: 2em solid white; */
  }


  .nav {
    background-position: center !important;
    font-size: 2em;
  }

  @media only screen and (min-width: 769px) {
    
    h1, h2, h3 {
      padding: 0px 240px 0px 240px;
    }

  }

}